body
{
    font-family: 'Helvetica';
    /* background-color: #263238;
    color: #263238; */
    background-color: #ECEFF1;
    color: #ECEFF1;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

tbody
{
    position: relative;
}

td
{
    text-align: center;
    cursor: pointer;
}

.popper-content{
    position: absolute;
    background-color: #404b69;
    padding: 10px;
    color: #ECEFF1;
}

.seat{
    width: 25px;
    height: 20px;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.free
{

    /* background-color: #26C281; */
    /* background-color: #00C853; */
    /* background-color: #01c652; */
    background-color: #33cc4f;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sold
{
    background-color: #be3030;
    color: #ECEFF1;
}

.reserved
{
	background-color: #00818a;
}

.show{
    width: 60px;
    height: 60px;
    background-color: #333;
}


a{
    color: #ECEFF1;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: #ECEFF1;
}






.Hunter-pop-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 9999;
    padding: 1px;
    /*font-family: Microsoft YaHei;*/
    background-color: #404b69;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #cccccc;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.Hunter-pop-up:before,
.Hunter-pop-up:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    left: 20px;
    z-index: 999999;
}

.Hunter-pop-up-right:before,
.Hunter-pop-up-right:after {
    left: auto;
    right: 20px;
}

.Hunter-pop-up:before {
    border-color: transparent transparent #f5f5f5;
    top: -17px;
    z-index: 9999999;
}

.Hunter-pop-up:after {
    border-color: transparent transparent #c9cbce;
    top: -20px;
}

.Hunter-pop-up ul {
    list-style: none;
}

.Hunter-pop-up ul li {
    display: inline-block;
    position: relative;
    margin: 4px;
    cursor: pointer;
}

.Hunter-pop-up p {
    font-weight: bold;
    padding: 0 4px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.Hunter-pop-up .line {
    width: 340px;
    margin: 0 auto;
    margin-top: 4px;
    border-bottom: 1px solid #d8d8d8;
}

.Hunter-pop-up .close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 16px;
}

.Hunter-pop-up .title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    background-color: #404b69;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}


/*弹出内容*/

.Hunter-pop-up .Hunter-wrap {
    position: relative;
    background: #404b69;
    padding: 8px;
    overflow: auto;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    /*font-family: 'Glyphicons Halflings';*/
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.glyphicon-remove:before {
    /*content: "\e014";*/
    content: "x";
}